@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body{
    background-color: #F1EEEE;
}
header{
background-color: #88F0AB;
color: blanchedalmond; 
margin:0 auto;
padding:0;
text-align:center   
}

content{
    margin-top: 50px;
    margin-left: 50px;
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}


#image{
    float:right;
    margin-right: 300px;
    padding:0;
}

content p{
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: large;
}

#cadastro{
    margin-left: 30px;
    margin-bottom: 40px;
    font-size: large;
    border: solid #b82b12;
    background-color: #87CEEB;
    padding: 10px;

}

#cadastro a{
    text-decoration: none;
    color: #4169E1;
}

#titulo{
    margin-left: 30px;
    margin-bottom: 0 auto;
    margin-top: 30px;
}

video{
    margin-left: 30px;
    margin-bottom: 0 auto;
    margin-top: 30px;
}


